// Main Sass file
@use 'abstracts'; 
// @use 'abstracts' as *;
// @use 'abstracts/functions';
// @use 'abstracts/mixins';
@use 'vendors';
// @use 'vendors/bootstrap';
// @use 'vendors/jquery-ui';
@use 'base';
// @use 'base/reset';
// @use 'base/typography';
@use 'layout';
// @use 'layout/navigation';
// @use 'layout/grid';
// @use 'layout/header';
// @use 'layout/footer';
// @use 'layout/sidebar';
// @use 'layout/forms';
@use 'components';
// @use 'components/buttons';
// @use 'components/carousel';
// @use 'components/slider';
@use 'themes';
// @use 'themes/theme';
// @use 'themes/admin';

// UNIVERSAL STYLES
body {
  background-color: var(--dark-background);
}


// PAGE STYLES
.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1100px;
  margin: 0 auto;
  background-color: var(--light-grey);
  padding: 0 5px;
}

// HEADER
header {
  display: flex;
  height: 80px;
  background-color: var(--dark-blue);
  padding: 0 30px;
  border-radius: 10px;
  margin-top: 5px;
}
.hero-heading {
  font-size: 30px;
  font-weight: 800;
  margin: auto 0;
  color: var(--hero-main-text);
}
.main-nav {
  display: flex;
  margin-left: auto;
  font-size: 20px;
  margin: auto 0 auto auto;
  gap: 20px;
  color: var(--hero-secondary);
  li, a {
    padding: 18px 30px;
    // background: black;
    border-radius: 30px;
    transition: all 0.5s;
  }
  li:hover {
    background-color: var(--hero-secondary);
    color: var(--dark-blue);
    transition: all 0.5s;
  }
}

// MAIN
.main-content-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 140px);
}
.main-heading{
  font-size: 40px;
  margin: 40px 0;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  text-decoration: underline;
}
.testing-area {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.button {
  cursor: pointer;
  border: 1px solid blue;
  // border-radius: 10px;
  padding: 20px 40px;
}
#machineButton {
  box-shadow: 0px 0px 10px black;
}
.aniButton {
  cursor: pointer;
  padding: 20px 40px;
  color: white;
  border: none;
  background-color: #3759F9;
  border: 7px outset #6F88FF;
  box-shadow: none;
}
.aniButton:hover {
  background-color: #2241D3;
}
.aniButton:active {
  color: #BCBCBC;
  background-color: #0C37FF;
  border: 7px inset #6F88FF;
}

//
// CARD AREA
//
.card {
  background-color: var(--light-blue);
  height: 250px;
  width: 200px;
  border-radius: 20px;
  border: 5px solid var(--dark-blue);
  display: flex;
  flex-direction: column;
  transition: all .3s;
  &:hover {
    border: 1px solid var(--dark-blue);
    transition: all .3s;
  }
  &:active {
    border: 5px solid var(--dark-blue);
    transition: all .2s;
  }
  .picture {
    width: 150px;
    height: 160px;
    background-color: black;
    margin: 20px auto;
  }
  p {
    margin: 0 auto;
  }
}
// Card Colors
#card1 {
  background-color: #BFF4E6;
}
#card2 {
  background-color: #F4BFCD;
}
#card3 {
  background-color: #E7F4BF;
}
#card4 {
  background-color: #CCBFF4;
}
#card5 {
  background-color: #BFDCF4;
}
#card6 {
  background-color: #F4D7BF;
}
#card7 {
  background-color: #C1F4BF;
}
#card8 {
  background-color: #F1BFF4;
}
#card9 {
  background-color: #F4C5BF;
}
#card10 {
  background-color: #BFEEF4;
}
#card11 {
  background-color: #D3F4BF;
}
#card12 {
  background-color: #E0BFF4;
}


//
// CSS NUMBERED HEADINGS SECTION --START--
//

// numbered headings and subheadings.
.numberedHeadings { // reset MAIN heading numbers to zero
  counter-reset: section;
}
.numHead {
  display: flex;
  justify-content: space-around;
  background-color: yellow;
}
h3 { // reset sub-heading numbers to zero
  counter-reset: sub-section;
  padding: 3px 0px;
  font-size: 18px;
  font-weight:bold;
}
h4 {
  padding: 1px 0px;
  margin-left: 20px;
  font-size: 15px;
  font-weight:bold;

}
h3::before { // before HEADING insert counter incremented by 1
  counter-increment: section;
  content: counter(section) ": ";
}
h4::before { // before SUB-HEADING insert counter with subsection # incremented by 1
  counter-increment: sub-section;
  content: counter(section) "." counter(sub-section)" ";
}

//
// CSS NUMBERED HEADINGS SECTION --END--
//

//
// CHECK MY NUMBER --START--
//

.checkMyNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 300px;
  background-color: teal;
  padding: 0px 50px;
  h1 {
    font-size: 2em;
    margin: 20px;
  }
  h2 {
    font-size: 2.5em;
    margin: 3px;
    color: yellow;
  }
  .buttons {
    margin: 20px;
  }
}


//
// CHECK MY NUMBER --END--
//






// FOOTER
footer {
  margin-top: auto;
  background-color: var(--dark-grey);
  color: var(--hero-secondary);
  display: flex;
  height: 60px;
  margin: 0 -5px;
  p {
    margin: auto auto;
    font-size: 20px;
  }
}

