// Header
@use '../abstracts/variables' as *;

header {
  display: flex;
  border-bottom: 3px solid $pinkurple;
}

.header-heading {
  padding-left: 10px;
  padding-right: auto;
  width: 100%;
}

.header-nav {
  display: flex;
  position: relative;
}
