// Navigation
@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

.menu-button {
  @include menu-buttons;
  display: none;
}
.menu-item a {
  @include menu-buttons;
}

.menu-contents {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .menu-contents {
    flex-direction: column;
  }
  .menu-item {
    display: none;
  }
  .menu-button {
    @include menu-buttons;
  }
  .menu-contents:hover .menu-item{
    display: inline-block;
    position: relative;
    float: right;
  }
}




.projects {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  li {
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: $teal;
    border-radius: 10px;
    max-width: 130px;
    text-align: center;
    a {
      color: $black;
    }
    img {
      height: 90px;
      max-width: 80px;
    }
    figcaption {
      font-size: 1.2em;
    }
  }
}

