// Navigation
@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

.header-nav {
  float: right;
  display: flex;
}
.nav-button, .nav-items a {
  @include menu-buttons
}
.nav-button {display: none;}

.nav-items {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    flex-basis: 145px;
    cursor: pointer;
  }
  .nav-items {
    display: none;
  }
  .nav-button {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }
  .nav-button:focus~.nav-items { // drop down on click, BUT  Can not 
                                 // click links due to loosing focus.
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
  }
}




.projects {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  li {
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: $teal;
    border-radius: 10px;
    max-width: 130px;
    text-align: center;
    a {
      color: $black;
    }
    img {
      height: 90px;
      max-width: 80px;
    }
    figcaption {
      font-size: 1.2em;
    }
  }
}

