@use '../abstracts' as *;
// Navigation
.header-nav {
  display: inline-block;
  align-self: center;
  .links-list {
    li {
      display: inline-block;
      // EVERYTHING BELOW HERE
      // Should be moved into a button class so that
      // it can be reused other places in the site
      // MAKE THINGS REUSABLE!!!
      a {
        color: var(--white);
        background-color: var(--darkRed);
        text-decoration: none;
        padding: 1em 2em;
      }
      a:hover {
        border: 5px outset var(--darkGrey);
        padding: 11px 27px;
      }
      a:active {
        border: 5px inset var(--darkGrey);
        background-color: var(--darkerRed);
      }
    }
  }
}
