// Sass Variables
:root {
  --teal: #3FF79A;
  --pinkurple: #F73F9C;
  --yellow: #F7F63F;
  --blue: #3F40F7;
  --grey: #EAEAEA;
  --dark-grey: #939393;
  --black: #1F1F1F;
}
$teal: #3FF79A;
$pinkurple: #F73F9C;
$yellow: #F7F63F;
$blue: #3F40F7;
// $grey: #EAEAEA;
$grey: #F0F2F5;
$dark-grey: #939393;
$black: #1F1F1F;

