//
// CSS Variables
//

:root {
// COLORS
  --off-white: hsl(0, 0%, 94%, 1); //main background color
  --light-grey: hsl(0, 0%, 91%);
  --grey: hsl(0, 0%, 95%); // main button hover color
  --dark-grey: hsla(0, 0%, 70%, 1);
  --black: hsl(0, 0%, 12%);

  --teal: hsl(150, 92%, 61%);
  --pinkurple: hsl(330, 92%, 61%);
  --yellow: hsl(60, 92%, 61%);
  --light-yellow: hsl(60, 100%, 80%);
  --dark-yellow: hsl(60, 100%, 10%);
  --blue: hsl(240, 92%, 61%);
  // Flexbox Colors
  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(210, 100%, 95%);
  --dark-blue: hsl(214, 89%, 52%);
// FONT-SIZES
  --hero-fs: 2em;
  --h1-fs: 2.5em;
  --h2-fs: 2.0em;
  --h3-fs: 1.5em;
  --h4-fs: 1.3em;
}
// Sass Variables
