// Flexbox page specific styles
@use '../abstracts' as *;
html {
  background-color: var(--off-white);
}
//FLEX CONTAINER
.main-container {
  @include reset;
  background-color: var(--grey);
  display: flex;
  width: 100vw;
  // margin: 0 auto;
}

// LEFT MENU AREA
.left-menu-container {
  background-color: var(--off-white);
  flex: 0 0 250px;
  height: 100vh;
}

.menu-item-container {
  .left-menu-list {
    display: none;
  }
  &:hover {
  .left-menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
 }
}

.left-menu-button {
  background-color: var(--light-grey);
  position: relative;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 5px black;
    background-color: var(--grey);
    z-index: 1;
  }
}


.inner-content-container {
  display: flex;
  flex: 1;
  z-index: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--light-grey);
}

