// Flexbox page specific styles
@use '../base/reset';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
//colors
$white: #FFFFFF;
$light-grey: #E4E6EB;
$grey: #F0F2F5;
$light-blue: #E7F3FF;
$dark-blue: #1877F2;


//FLEX CONTAINER
.main-container {
  @include reset;
  background-color: $grey;
  display: flex;
}

// LEFT MENU AREA
.left-menu-container {
  background-color: $white;
  flex: 0 0 250px;
  height: 100vh;
}

.menu-item-container {
  .left-menu-list {
    display: none;
  }
  &:hover {
  .left-menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
 }
}

.left-menu-button {
  background-color: $light-grey;
  position: relative;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 5px black;
    background-color: $grey;
    z-index: 1;
  }
}


// MAIN CONTENT AREA
.content-container {
  width: 100%;
  // display: flex;
  // flex: 1;
  // z-index: 0;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  background-color: $light-grey;
}
.inner-content-container {
  display: flex;
  flex: 1;
  z-index: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $light-grey;
}

// CARDS SECTION
.cards-title {
  margin: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: $grey;
  flex: 1 1 auto;
  max-width: 330px;
  img {
    padding: 8px 0;
    width: 100%;
    // max-width: 320px;
  }
  .img-caption {
  }
}

// JUSTIFY CONTENT SECTION
.justify {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.section {
  height: 200px;
  width: 200px;
  display: flex;
  // justify-content: center;
  // align-content: top;
  border: 3px solid black;

  div {
    height: 80px;
    width: 80px;
  }
  .one {
    background-color: green;
  }
  .two {
    background-color: blue;
  }
  .three {
    background-color: orange;
  }
}
.start {
  display: flex;
  justify-content: flex-start;
}
.center{
  display: flex;
  justify-content: center;
}
.end {
  display: flex;
  justify-content: flex-end;
}















