@use '../abstracts' as *;

// Home specific styles
html {
  background-color: $grey;
}
h1 {
  // background-color: var(--yellow);
  color: var(--black);
}
h2 {
  color: var(--blue);
}
// MAIN
main {
  padding: 10px;
}
.main-heading {
  font-size: 2em;
  padding: 20px 30px;
  text-decoration: underline black;
}
.projects {
  padding-left: 30px;
}