@use '../abstracts' as *;
@use '../abstracts/flexAssignJsPractice' as *;

// UNIVERSAL STYLES
html {
  background-color: #212121;
}
body {
  display: flex;
  flex-direction: column;
}
.site-container {
  background-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

// INTRODUCTION
header, .intro {
  background: var(--dark-background);
  color: var(--hero-secondary);
  display: flex;
}
.content-container {
  width: 75%;
  margin: auto auto;
  display: flex;
}
.intro {
  height: 420px;;
  display: flex;
  margin: auto 0;
  .intro-img {
    display: flex;
    height: 210px;
    width: 490px;
    background-color: grey;
    margin-left: auto;
    p {
      margin: auto auto;
    }
  }
  .intro-text {
    width: 45%;
    margin-right: 38px;
  }
}
// sign up button
.sign-up {
  background-color: #3882F6;
  padding: 8px 30px;
  border-radius: 10px;
  font-weight: 900;
  color: $hero-main-text;
  margin-top: 15px;
}
header {
  display: flex;
  height: 60px;
  ul {
    display: flex;
    margin-left: auto;
    li {
      margin-left: 30px;
    }
  }
}

.hero_main_text { // main hero text(this website is awesome)
  font-size: 48px;
  color: $hero-main-text;
  font-weight: 900;
}
.header-logo {
  color: $hero-main-text;
  font-size: 24px;
  font-weight: 900;
}

.hero_secondary_text {
  color: $hero-secondary;
}
// RANDOM INFO
.random-info {
  .content-container {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 80px auto;
  }
}
.illustrations {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  gap: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
  }
  .caption {
    margin-top: 15px;
  }
}

// QUOTE
.quote {
  background-color: #E5E7EB;
  .content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 120px 0;
  }
  blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
  }
  figcaption {
    margin-left: auto;
    font-weight: 800;
    font-size: 20px;
  }
}

// CALL TO ACTION
.call_to_action {
  padding: 90px 0;
  h3 {
    color: $hero-main-text;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 3px;
  }
  .content-container {
    padding: 40px 110px;
    background-color: #3882F6;
    color: $hero_secondary;
    border-radius: 10px;
  }
  .sign_up {
    margin-left: auto;
    button {
      border: 2px solid $hero_secondary;
      padding: 8px 30px;
      border-radius: 10px;
      font-weight: 900;
      color: $hero-main-text;
    }
  }
}


// FOOTER
footer {
  background-color: #252D3A;
  h4 {
    padding: 40px 0;
    color: $hero_main-text;
    text-align: center;
  }
}


















