@use '../abstracts' as *;
@use '../components/buttons' as *;

h1 {
  color: var(--black);
  text-align: center;
  padding: 10px;
}
.section-container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  // background-color: var(--light-grey);
  background-color: var(--off-white);
}
.standard-button {
  @include standard-button;
  border-radius: 20px;
  border-width: 5px;
  border-color: var(--off-white);
}
#checkAnswer {
  display: none;
}
.button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
  .standard-button {
    font-size: 1.6em;
    font-weight: bold;
    min-width: 380px;
    min-height: 80px;
  }
}
.programArea {
  background-color: var(--light-grey);
  border: 3px solid var(--dark-grey);
  border-radius: 30px;
  padding: 10px;
  min-height: 200px;
  .default {
    h3 {
      margin: 50px auto;
    }
    p {
      margin: 50px auto;
    }
  }
  .input-container {
    // border-top: 3px solid var(--dark-grey);
    border: 3px solid var(--dark-grey);
    border-radius: 30px;
    display: none;
    padding: 20px;
    margin: 5px auto;
    background-color: hsl(60, 100%, 80%);
    p {
      display: inline-block;
      // background-color: hsl(60, 100%, 50%);
    }
  }
  .output-container {
    display: none;
    // padding: 20px;
    // margin: 10px auto;
    margin: 5px auto;
    // width: 300px;
    p, div {
      padding: 20px;
      // margin: 30px;
      border: 3px solid var(--dark-grey);
      border-radius: 30px;
      display: inline-block;
      background-color: orange;
      font-size: 1.7em;
    }
    .out {
      display: none;
    }
  }
}

#ageTest {
  background-color: yellow;
  color: var(--black);
}
#changeTheme {
  background-color: orange;
  color: var(--black);
}
#askNum {
  background-color: darkred;
}
#askJs {
  background-color: purple;
}
#numTest {
  background-color: teal;
}
#numLevel {
  background-color: green;
}
#calculator {
  background-color: violet;
}
#newTest {
  background-color: darkblue;
}
#calendar {
  background-color: #72DEC2;
}
#mazeGame{
  background-color: #DE728E;
}
#alarm{
  background-color: #C4DE72;
  color: var(--black);
}
#motorcycleOracle{
  background-color: #8C72DE;
}
#trueFalse{
  background-color: #8FEC2D;
}
#colorPicker {
  background-color: #8A2DEC;
}
#websiteTheme {
  background-color: #EC2D2F;
}
#ticTacToe {
  background-color: #2DECEA;

}

// NEW TEST
#outputCanvas {
  display: none;
  background-color: yellow;
  height: 300px;
  width: 300px;
}




