@use '../abstracts' as *;
@use '../components/buttons' as *;

h1 {
  color: var(--black);
  text-align: center;
  padding: 10px;
}
.section-container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid var(--dark-grey);
  background-color: var(--light-grey);
}

.standard-button {
  @include standard-button;
  border-radius: 20px;
  border-width: 5px;
  border-color: var(--off-white);
}
.button-area {
  padding-bottom: 20px;
}
.input-container {
  display: none;
  padding: 20px;
  margin: 0 auto;
  p {
    display: inline-block;
    background-color: yellow;
  }
}
.output-container {
  display: none;
  padding: 50px;
  margin: 0 auto;
  p {
    padding: 30px;
    margin: 50px;
    display: inline-block;
    background-color: orange;
    font-size: 3em;
  }
}

#askNum {
  background-color: green;
}
#askJs {
  background-color: orange;
  color: var(--black);
}
#numTest {
  background-color: purple;
}
