@use '../abstracts' as *;
@use '../components/buttons' as *;

h1 {
  color: var(--black);
  text-align: center;
  padding: 10px;
}
.section-container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: var(--light-grey);
}

.standard-button {
  @include standard-button;
  border-radius: 20px;
  border-width: 5px;
  border-color: var(--off-white);
}
.button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
  .standard-button {
    font-size: 1.6em;
    font-weight: bold;
    min-width: 380px;
    min-height: 80px;
  }
}
.input-container {
  border-top: 3px solid var(--dark-grey);
  display: none;
  padding: 20px;
  margin: 0 auto;
  p {
    display: inline-block;
    background-color: yellow;
  }
}
#inputQuestionContainer {
  padding: 20px 0px 50px;
}
.output-container {
  display: none;
  padding: 50px;
  margin: 0 auto;
  p, div {
    padding: 20px;
    margin: 30px;
    display: inline-block;
    background-color: orange;
    font-size: 3em;
  }
  .out {
    display: none;
  }
}
#ageTest {
  background-color: yellow;
  color: var(--black);
}
#changeTheme {
  background-color: orange;
  color: var(--black);
}
#askNum {
  background-color: darkred;
}
#askJs {
  background-color: purple;
}
#numTest {
  background-color: teal;
}
#numLevel {
  background-color: green;
}
#calculator {
  background-color: violet;
}
#newTest {
  background-color: darkblue;
}
#calendar {
  background-color: #72DEC2;
}
#mazeGame{
  background-color: #DE728E;
}
#alarm{
  background-color: #C4DE72;
  color: var(--black);
}
#motorcycleOracle{
  background-color: #8C72DE;
}
#trueFalse{
  background-color: #8FEC2D;
}
#colorPicker {
  background-color: #8A2DEC;
}
#websiteTheme {
  background-color: #EC2D2F;
}
#ticTacToe {
  background-color: #2DECEA;

}

// NEW TEST
#outputCanvas {
  display: none;
  background-color: yellow;
  height: 300px;
  width: 300px;
}




