@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

// buttons
.buttone {
  @include menu-buttons;
  margin: 10px auto;
  &:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
  }
  &:active {
    color: var(--light-blue);
    background-color: var(--darker-grey);
  }
}

// Main Area
main {
  color: var(--black);
  padding: 10px 0 ;
  text-align: center;
  border-top: 1px solid var(--black);
}

// Cases and Results
.question {
  border-bottom: 5px solid var(--dark-blue);
  padding-bottom: 10px;
  display: inline-block;
}
.casesHeading {
  border: 3px solid var(--dark-blue);
  padding: 10px 30px;
  margin: 20px 0 25px;
  display: inline-block;
}
.caseAnswerList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cli { // case list item
  display: inline-block;
  // width: 40%;
  list-style: none;
  background-color: var(--light-grey);
}
.one {
  background-color: green;
  padding: 20px;
}
.two {
  background-color: yellow;
  padding: 20px;
}
.three {
  background-color: blue;
  padding: 20px;
}
#output {
  text-align: left;
  margin: 0 200px;
}
