@use '../abstracts';
// Buttons
.aniButton {
  cursor: pointer;
  padding: 20px 40px;
  color: white;
  border: none;
  background-color: #3759F9;
  border: 7px outset #6F88FF;
  box-shadow: none;
}
.aniButton:hover {
  background-color: #2241D3;
}
.aniButton:active {
  color: #BCBCBC;
  background-color: #0C37FF;
  border: 7px inset #6F88FF;
}
.machineButton { // machine button
  cursor: pointer;
  border: 1px solid blue;
  // border-radius: 10px;
  padding: 20px 40px;
}
#machineButton {
  box-shadow: 0px 0px 10px black;
}
