// Sass Variables

/******** COLORS ********/
:root {
/*** MAIN COLORS ***/
  --white: #fafafa;
  --onyx: #3e3e3e;
  --eerieBlackText: #131313;
  --lightBlue: lightblue;
  --darkRed: rgb(179,57,81);
  --darkerRed: rgb(66, 28, 40);
  --darkRedBackground: #92140c;
  --peach: rgb(255, 218, 185);
  --darkPeach: rgb(245, 178, 145);
  --lightGreen: #a9fdac;
  /*** CONTENT-COLORS ***/
  --copper: #be7c4d;
  --jetGrey: #353238;
  --darkGrey: darkgrey;
  --cedarChestOrange: #be5a38;
}
