// Main Sass file
@use 'abstracts/variables' as v;
// @use 'abstracts/functions';
// @use 'abstracts/mixins';
//
// @use 'vendors/bootstrap';
// @use 'vendors/jquery-ui';
//
@use 'base/reset';
@use 'base/typography';
//
@use 'layout/navigation';
// @use 'layout/grid';
@use 'layout/header';
// @use 'layout/footer';
// @use 'layout/sidebar';
// @use 'layout/forms';
//
// @use 'components/buttons';
// @use 'components/carousel';
// @use 'components/slider';
//
// @use 'pages/home';
// @use 'pages/about';
// @use 'pages/contact';
@use 'pages/readinglinks';
@use 'pages/flexbox';
@use 'pages/dropmenu';

//
// @use 'themes/theme';
// @use 'themes/admin';

// UNIVERSAL COMPONENTS
html {
  background-color: var(--grey);
}
h1 {
  // background-color: var(--yellow);
  color: var(--black);
}
h2 {
  color: var(--blue);
}
// MAIN
main {
  padding: 10px;
}
.main-heading {
  font-size: 2em;
  padding: 20px 30px;
  text-decoration: underline black;
}
.projects {
  padding-left: 30px;
}
