/******** COLORS ****353238****/
:root {
  /*** MAIN COLORS ***/
  --white: #fafafa;
  --onyx: #3e3e3e;
  --eerieBlackText: #131313;
  --lightBlue: lightblue;
  --darkRed: rgb(179,57,81);
  --darkerRed: rgb(66, 28, 40);
  --darkRedBackground: #92140c;
  --peach: rgb(255, 218, 185);
  --darkPeach: rgb(245, 178, 145);
  --lightGreen: #a9fdac;
  /*** CONTENT-COLORS ***/
  --copper: #be7c4d;
  --jetGrey: #353238;
  --darkGrey: darkgrey;
  --cedarChestOrange: #be5a38;
}

/******** UNIVERSAL STYLES ********/
html {
  box-sizing: border-box;
  color: var(--dark-red);
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
h1 {
  display: inline-block;
  align-self: center;
}


/******** HEADER ********/
header {
  background-color: var(--lightBlue);
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}
nav {
  display: inline-block;
  align-self: center;
}
nav li {
  display: inline-block;
}
.links-list {
  a {
    color: var(--white);
    background-color: var(--darkRed);
    text-decoration: none;
    padding: 1em 2em;
    hover {
      border: 5px outset var(--darkGrey);
      padding: 11px 27px;
    }
    active {
      border: 5px inset var(--darkGrey);
      background-color: var(--darkerRed);
    }
  }
}

/******** TEST AREA ********/
.main-flex-wrapper {
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.content-flex-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
  div {
    background-color: var(--darkPeach);
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    min-width: 100px;
    box-shadow: none;
    transition: box-shadow .4s, background-color .4s;
    padding: 10px;
    img {
      border-radius: 22px;
      padding: 15px;
      width: 100px;
      align-self: center;
    }
  }
  div:hover {
    box-shadow: 0 2px 18px rgba(34, 34, 34, 0.5);
    background-color: var(--white);
  }
}

/******** FOOTER ********/

.footer {
  background-color: var(--lightGreen);
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.center-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.links {
  padding: 10px;
  a {
    padding: 0 5px;
  }
}
