// Sass Variables
:root {
  --black: #1F1F1F;
  --white: #FFFFFF;
  --light-grey: #E4E6EB;
  --light-blue: #E7F3FF;
  --dark-blue: #1877F2;
}
$black: #1F1F1F;
$white: #FFFFFF;
$light-grey: #E4E6EB;
$light-blue: #E7F3FF;
$dark-blue: #1877F2;

