// Sass Variables
:root {
  --white: #FFFFFF;
  --light-grey: #E4E6EB;
  --hero-main-text: #F9FAF8;
  --hero-secondary: #E5E7EB;
  --light-blue: #E7F3FF;
  --dark-blue: #1877F2;
  --dark-grey: #222222;
  --dark-background: #1F2937;// hero and footer
  --black: #1F1F1F;
}
// $black: #1F1F1F;
// $white: #FFFFFF;
// $light-grey: #E4E6EB;
// $light-blue: #E7F3FF;
// $dark-blue: #1877F2;
//
// $dark-background: #1F2937;// hero and footer
// $hero-main-text: #F9FAF8;
// $hero-secondary: #E5E7EB;
//
//
